*{
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Montserrat;
}

.box1 {
    font-size: 12px;
    padding: 7px;
    max-width: 872px;
    min-width: 320px;
    text-align: justify;
}

.box2 {
    font-size: 12px;
    padding: 7px;
    max-width: 872px;
    min-width: 320px;
    text-align: justify;
}

.box3 {
    font-size: 12px;
    padding: 7px;
    max-width: 872px;
    min-width: 320px;
    text-align: justify;
}

.box4 {
    font-size: 12px;
    padding: 7px;
    max-width: 872px;
    min-width: 320px;
    text-align: justify;
}

.box5 {
    font-size: 12px;
    padding: 7px;
    max-width: 872px;
    min-width: 320px;
    text-align: justify;
}

.buttons {
    font-size: 14px;
    padding: 7px;
    background-color: rgba(236, 106, 6, 0.7);
    margin-bottom: 7px;
    max-width: 872px;
    min-width: 320px;
    font-weight: 500;
}

.buttons:first-child {
    margin-top: 0px;
}

.buttons:hover {
    background-color: rgba(255, 151, 71, 0.7)
}

.container {
    max-width: 1450px;
    margin: auto;
    padding-left: 0px;
    padding: 10px 10px 3px 0px;
}

.container2 {
    max-width: 1450px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

#area {
    font-size: 12px;
}

.container2 .container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

header {
    padding: 5px;
    text-align: right;
    height: 111px;
    background-color: #000019;
}

.logo {
    padding-top: 20px;
    padding-right: 27px;
}

#servicios {
    margin: 0px;
    width: auto;
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.705)
    )
    ,url(fotos-sin-corregir-opt/foto-presentcion.JPG);
    background-size: auto;
    background-position: center, center;
}

#info .nosotros {
    display: none;
}

.foto {
    border-radius: 50px 5px 50px 5px;
}

.foto2 {
    border-radius: 5px 50px 5px 50px;
}

.contactoMob {
    width: 200px;
    height: 70px;
    margin: 34px;
}

.contactoMob button {
    background-color: #EC6A06;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 70px;
}

.contactoMob a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.contactoMob a p {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 17px;
}

.contactoMob a img {
    margin-left: 10px;
}

.listas {
    display: flex;
    flex-direction: row;
}

.listas ul {
    list-style: none;
}

.listas ul .icono {
    margin-right: 3px;
    margin-bottom: 4px;
}

.telefono {
    text-decoration: none;
    color: black;
}

.telefono:hover {
    color: rgba(236, 106, 6, 0.7);
}

.mail {
    text-decoration: none;
    color: black;
}

.mail:hover {
    color: rgba(236, 106, 6, 0.7);
}

#carrusel {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carruselMobile {
    display: block;
}

.carruselPC {
    display: none;
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(fotos-sin-corregir-opt/fondo-de-seccion-contactos.png);
    background-size: auto;
    background-position: center, center;
}

.correo {
    margin-top: 15px;
    padding: 15px;
    background-color: #00001979;
    border-radius: 25px;
    width: 294px;
}

.mns {
    border-radius: 9px;
    border: 1px;
    width: 260px;
}

#botonMns {
    border-radius: 10px;
    border: 0px solid;
    background-color: rgba(236, 106, 6, 0.7);
}

#text {
    resize: none;
}

footer {
    background-color: #000019;
    color: white;
    padding: 10px;
    font-size: smaller;
}

.nav {
    display: flex;
    flex-direction: column;
    font-size: small;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgba(255, 151, 71, 0.7);
}

.direccion { 
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    font-size: small;
}

.navmg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navmg img {
    margin-top: 10px;
    margin-right: 50px;
}

.datos {
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.datos ul {
    list-style: none;
}

@media (min-width:640px) {
    .buttons {
        border-radius: 20px 20px 7px 7px;
        width: 872px;
        font-size: 38px;
        text-align: left;
    }

    .buttons:first-child {
        margin-left: 70px;
    }

    .buttons:nth-child(2){
        margin-left: 170px;
    }

    .buttons:nth-child(3){
        margin-left: 254px;
        background-color: rgba(236, 106, 6, 0.5);
    }

    .buttons:nth-child(4){
        margin-left: 347px;
        background-color: rgba(236, 106, 6, 0.5);
    }

    .buttons:nth-child(5){
        margin-left: 425px;
        background-color: rgba(236, 106, 6, 0.5);
    }

    .buttons:nth-child(3):hover {
        background-color: rgba(240, 161, 101, 0.5);
    }

    .buttons:nth-child(4):hover {
        background-color: rgba(240, 161, 101, 0.5);
    }

    .buttons:nth-child(5):hover {
        background-color: rgba(240, 161, 101, 0.5);
    }

    #info .nosotros {
        display: block;
        width: 353px;
        height: 65px;
        border-radius: 15px;
        line-height: 59px;
        text-align: center;
    }

    #info .nosotros {
        margin-left: 50px;
        margin-top: 40px;
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: bold;
        font-size: 48px;
        border: 0px;
        background-color: rgba(236, 106, 6, 0.5);
    }

    .container2 {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        padding: 15px;
    }

    .container2 .container3 {
        margin-left: 20px;
        justify-content: left;
        text-align: justify;
        font-size: 24px;
    }

    .container2 .container4 {
        margin-top: 47px;
    }

    .container3 .foto {
        width: 570px;
        height: 360px;
        border-radius: 125px 7px 125px 7px;
    }

    .container4 .foto2 {
        width: 570px;
        height: 360px;
        border-radius: 7px 125px 7px 125px;
    }

    .container2 .container4 {
        margin-right: 10px;
        text-align: justify;
        font-size: 24px;
    }

    #area {
        font-size: 24px;
    }

    #contacto {
        flex-direction: row;
        justify-content: center;
        padding: 100px;
    }

    .correo {
        width: 575px;
        height: 322px;
        margin-right: 70px;
    }

    .mns {
        width: 540px;
        height: auto;
    }

    .correo textarea {
        height: 209px;
    }

    .datos {
        font-size: 20px;
        margin-left: 70px;
    }

    #servicios {
        margin: 0px;
    }

    footer {
        padding: 30px;
    }

    .navmg img {
        width: 180px;
        height: 85px;
    }

    .nav {
        font-size: 16px;
    }

    .direccion {
        font-size: 16px;
    }

    header {
        height: 179px;
    }

    #logo1 {
        width: 250px;
        height: 122px;
    }

    .box1 {
        font-size: 20px;
        margin-left: 20px;
    }

    .box2 {
        font-size: 20px;
        margin-left: 20px;
    }

    .box3 {
        font-size: 20px;
        margin-left: 20px;
    }

    .box4 {
        font-size: 20px;
        margin-left: 20px;
    }

    .box5 {
        font-size: 20px;
        margin-left: 20px;
    }

    .carruselMobile {
        display: none;
    }
    
    .carruselPC {
        display: block;
        width: 1000px;
        height: 500px;
    }

    .contactoMob {
        display: none;
    }
}